{% import "views/_helper.njk" as docs %}
{% import "views/_data.njk" as data %}
{% import "views/_sms.njk" as sms %}
{% import "views/_parts.html" as include %}
{% set middot = '·' %}
{% set link_to_blog_password_reset = '关于自定义邮件模板和验证链接，请参考《[自定义应用内用户重设密码和邮箱验证页面](https://blog.leancloud.cn/607/)》。' %}
{% set app_permission_link = "[Dashboard > Data > Settings > User Account](/dashboard/storage.html?appid={{appid}}#/storage/conf)" %}
{% set query_result_limit = "A query returns 100 records by default. You can change the number of  results by setting limit. See [Limiting Query Results](#limiting-query-results) for more info." %}

# Cloud Storage Guide

Storing data on LeanCloud and getting it back is what our JavaScript SDK is good at. If you come from a background of writing SQL for traditional databases, however, you'll find it very different from the way you are used to.

For example, a typical SQL statement that adds a new record looks like this (assuming database schema had already been created):

```sql
INSERT INTO Todo (title, content) 
VALUES ('R&D Weekly Meeting', 'All team members, Tues 2pm')
```

Using our JavaScript SDK, you would write:

```js
// tell the cloud which class 
// (or table, in a common sense) to use
var Todo = AV.Object.extend('Todo');

var todo = new Todo();

todo.set('title', 'R&D Weekly Meeting');
todo.set('content', 'All team members, Tue 2pm');

todo.save().then(function (todo) {
  // saved successfully
  console.log('object id is:' + todo.id);
}, function (error) {
  // operation failed
  console.error('error message: ' + error.message);
});
```

This piece of code reads and writes to the cloud, and takes care of schema creation and error handling at the same time. Pretty  cool, eh?

So let's dive right in and have some fun.

## Getting Started

Our JavaScript SDK supports Chrome 31+, Firefox latest, IE 9+ and Edge, iOS 8.0+ and Android 4.4+ via WebView, WeApp DevTools latest, as well as Node.js 0.12+ and React Native 0.26+.

### Using JavaScript SDK on Different Platforms

The easiest way to integrate our JavaScript SDK into your web project is through the npm module.

```bash
# push notification is packed inside the leancloud-storage
$ npm install leancloud-storage --save
```

To use the npm modules for a browser based application or in a Node.js environment, include it as you normally would:

```js
var AV = require('leancloud-storage');

// create references to the global AV
var { Query, User } = AV;

// initialization code
AV.init('APP_ID', 'APP_KEY');
```

However, if you want to use a pre-compiled file, you can fetch it from here:

```html
<script src="//cdn1.lncld.net/static/js/{{jssdkversion}}/av-min.js"></script>
```
And then create references to the SDK:

```js
var { Query, User } = AV;

// initialization code
AV.init('APP_ID', 'APP_KEY');
```

Check out our Github repo https://github.com/leancloud/javascript-sdk/releases for more releases and file formats.

If you are planning to use our JavaScript SDK inside Android WebView, please check out [WebView](#WebView) section of this guide.

If you rely on features of [LiveQuery](livequery.html), include the following npm module instead: 

```js
// no need to require 'leancloud-storage' package again
var AV = require('leancloud-storage/live-query');
```
Or loading it using `<script>` tag: 

```html
<!-- no need to load av-min.js again -->
<script src="//cdn1.lncld.net/static/js/{{jssdkversion}}/av-live-query-min.js"></script>
```

### Initializing Your Application

Go to your app's [LeanCloud Dashboard setting page](/dashboard/app.html?appid={{appid}}#/key), and look for your your App ID and App Key, copy and paste them into your initialization code.

```js
var APP_ID  = '{{appId}}';
var APP_KEY = '{{appKey}}';

// same as using AV.init('APP_ID', 'APP_KEY')
AV.init({
  appId:  APP_ID,
  appKey: APP_KEY,
  // specify region=us if your app was created in the US site, 
  region: 'us'
  // otherwise leave it out, region would default to China site.
});
```
The LeanCloud apps are region-specific. They neither talk nor share anything across regions. Therefore incorrect region setting will cause the initialization code to fail.

Besides, each region serves their own REST APIs. Please consult documentation for the correct URL scheme of APIs to use. US docs is available at https://us.leancloud.cn/docs/rest_api.html, and China docs is at https://leancloud.cn/docs/rest_api.html. 

### Debugging

Our SDK supports debug logging. You can turn it on during the development cycle of your application. Once enabled, details of every request made by our SDK along with errors will be output to the browser's console, or to the terminal window in a Node.js environment.

For browser based applications, open the browser's console and run the following command:

```js
localStorage.setItem('debug', 'leancloud*,LC*');
```
In Node.js, you need to set environment variable `DEBUG` to `leancloud*,LC*`.


### Web Security

If you are using our JavaScript SDK in your browser based application, you MUST configure **whitelist domains** in your app's [LeanCloud Dashboard settings page](/dashboard/app.html?appid={{appid}}#/security) before you deploy it to a production environment.

Once it's been set up, our backend will only accept requests sending from the domains in that whitelist, which can prevent unauthorized usage or access to your cloud data on some level.

Yet it's not good enough to keep your data well away from web attackers and threats. It is the Internet. So we also provide a number of ways to help you safeguard your apps and data further. The security oriented articles listed below can give you necessary information you need to know.<a id="security-articles"></a>

- [Data and Security](data-security.html)
- [ACL Guide](acl-guide.html)

## Objects

### AV.Object

Storing data on LeanCloud is built around `AV.Object`. Each `AV.Object` contains key-value pairs of JSON-compatible data. This data is schemaless, which means that you don't need to specify ahead of time what keys exist on each `AV.Object`. You simply set whatever key-value pairs you want, and our backend will store it.

For example, let's say you're adding a todo item. A single `AV.Object` could contain:

```json
title:       'Email Linda to confirm appointment',
isCompleted: false,
importance:  'high',
tags:        ['project-x']
```

{# Keys must be alphanumeric strings. Values can be strings, numbers, booleans, or even arrays, objects, and anything that can be JSON-encoded. #}

### Data Types

`AV.Object` supports a wide range of data types to be used for each field. There are common ones such as String, Number, Boolean, Object, Array, Date, JSON and null. You can nest JSON Objects and JSON Arrays to store more structured data within a single object.

There are special ones such as Pointer and File, which are used to store references to other AV.Objects and binary data respectively.

`AV.Object` also supports GeoPoint, a special data type that you can use to store location-based data. Refer to the [GeoPoints](#geopoints) portion of this guide for more details.

Some examples:

```js
// declare the type
var TestObject = AV.Object.extend('DataTypeTest');

var number  = 2018;
var string  = 'famous film name is ' + number;
var date    = new Date();
var array   = [string, number];
var object  = { 
  number: number, 
  string: string 
};
// another AV.Object
var pointer = AV.Object.createWithoutData('Todo', '5745557f71cfe40068c6abe0')

// create the object
var testObject = new TestObject();
testObject.set('testNumber', number);
testObject.set('testString', string);
testObject.set('testDate', date);
testObject.set('testArray', array);
testObject.set('testObject', object);
testObject.set('testNull', null);
testObject.set('testPointer', pointer);
testObject.save().then(function(testObject) {
  // success
}, function(error) {
  // failure
});
```

We do not recommend storing large pieces of binary data like images or documents on `AV.Object`. AV.Objects should not exceed **128 kilobytes** in size. We recommend you use AV.Files to store images, documents, and other types of files. You can do so by instantiating an `AV.File` object and setting it on a field. See [Files](#files) for details.

{% call docs.noteWrap() %}
Please keep in mind that our backend will store dates in UTC format and the SDK will convert them back to local time upon retrieval.

The date values displayed in the Data Browser in [your LeanCloud Dashboard data page](/dashboard/data.html?appid={{appid}}#/) are also converted to match your operating system's timezone. The only exception is when you retrieve these Date values through our [REST API](rest-api.html), they will remain in UTC format. You can manually convert them using appropriate timezone when necessary.  
{% endcall %}

{# For more information about how LeanCloud handles data and security, check out our documentation on [Data and Security](data-security.html). #}

### Creating Object

To create a new instance of `AV.Object`, you can do this:

```js
// create a new subclass of AV.Object
var Todo = AV.Object.extend('Todo');

// create a new instance of that class.
var todo = new Todo();
```
`AV.Object.extend()` requires a ClassName to be passed in so that the cloud knows which class you are targeting. You can think of a Class in the cloud as a table in a database.

A ClassName must start with a letter, and must contain only numbers, letters, and underscore.

{% call docs.noteWrap() -%}
If you keep seeing "**Maximum call stack size exceeded**" exception in your log, chances are `AV.Object.extend()` had been called using the same ClassName more than once inside a loop or a callback. Either move it out of the loop or the callback to make sure it won't be over-instantiated, or use JavaScript SDK 1.4 or higher to eliminate the worries.
{%- endcall %}


From version 1.4.0 onwards, the JavaScript SDK is compatible with ES6 classes. If you're using ES6 in your codebase, you can subclass `AV.Object` with the **extends** keyword. However, when using extends, the SDK is not automatically aware of your subclass, you will need to register the subclass with the SDK:

```js
class Todo extends `AV.Object` {
  // more properties and methods
}
// register the subclass
AV.Object.register(Todo);
```

Then you can add additional methods and properties to your subclasses of `AV.Object`.
{# You can also use the `AV.Object` constructor directly. `new AV.Object(ClassName)` will create a single LeanCloud Object with that class name. #}

### Saving Objects

Now let's save a new Class named "**TodoFolder**" to the cloud. A TodoFolder is used to categorize different Todos, and one folder can contain many Todos.

```js
  var TodoFolder = AV.Object.extend('TodoFolder');
  var todoFolder = new TodoFolder();

  // set fields' values
  todoFolder.set('title', 'Work');
  todoFolder.set('importance', 'high');
  
  todoFolder.save().then(function (todo) {
    // Execute any logic that should take place after the object is saved.
    console.log('objectId is ' + todo.id);
  }, function (error) {
    // Execute any logic that should take place if the save fails.
  });
```

After this code runs, you will probably be wondering if anything really happened. To make sure the data was saved, you can look at [Dashboard > Data > TodoFolder](/data.html?appid={{appid}}#/) in your app on LeanCloud. You should see something like this:

```json
{
  "title":     "Work", 
  "importance":"high", 
  "ACL": {
    "*": {
      "read":  true,
      "write": true
    }
  },
  "objectId":  "582570f38ac247004f39c24b", 
  "createdAt": "2017-11-11T07:19:15.549Z",
  "updatedAt": "2017-11-11T07:19:15.549Z"
}
```
There are two things to note here. You didn't have to configure or set up a new Class called "TodoFoler" before running this code. Your LeanCloud app lazily creates this Class for you when it first encounters it.

There are also a few fields you don't need to specify that are provided as a convenience:

Built-in Fields|Type|Description
---|---|---
`objectId`| String |a unique identifier for each saved object.
`ACL`| ACL |Access Control List, which holds a JSON-compatible data defining who can access this object with read or write permissions.
`createdAt`| Date |the time that an object was created in the cloud (accurate to milliseconds)
`updatedAt` | Date |the time that an object was last modified in the cloud (accurate to milliseconds)

Each of these fields is filled in by LeanCloud, so they don't exist on an `AV.Object` until a save operation has completed.

Field names, or **keys**, must be alphanumeric strings. A user-defined key can neither start with double underscores `__`, nor be identical to any system reserved words or built-in field names regardless of letter cases.

Here are the words you should avoid using to name your keys: **{{ data.preservedWords(", ") }}**.

**Values** can be strings, numbers, booleans, or even arrays and dictionaries - anything that can be JSON-encoded. See [Data Types](#data-types) for more information.

We recommend that you adopt CamelCase naming convention to NameYourClassesLikeThis and nameYourKeysLikeThis, just to keep your code looking pretty.

We have also created a SQL-flavored syntax called Cloud Query Language (CQL) for saving and querying data in the cloud. So  the code above can be rewritten using CQL like so: 

```js
// create a TodoFolder object
AV.Query.doCloudQuery('insert into TodoFolder (title, importance) values ('Work', 'high')').then(function (data) {
  // success, results are kept in data.results
  var results = data.results;
}, function (error) {
  // operation failed
  console.error(error);
});
```

You can read [Cloud Query Language Guide](cql-guide.html) in detail if you are in favor of this approach to data manipulation.

### Retrieving Objects

If the `AV.Object` has been successfully saved to the cloud, you can use the `objectId` to get it using an `AV.Query`:

```js
var query = new AV.Query('Todo');

query.get('57328ca079bc44005c2472d0').then(function (todo) {
  //  todo is successfully retrieved
  var importance = todo.get('importance');
  var location   = todo.get('location');
  var title      = todo.get('title');
  var content    = todo.get('content');

  var objectId   = todo.id;
  var updatedAt  = todo.updatedAt;
  var createdAt  = todo.createdAt;

}, function (error) {
  // operation failed, logic to handle exception goes here
});
```

To get the values out of the `AV.Object`, as you can observe from the code above, use the `get` method.

Be aware that **objectId, updatedAt and createdAt**, these three special reserved values are provided as properties and cannot be retrieved using the `get` method nor modified with the `set` method. Each of these fields is filled in by the cloud only, so they don't exist on an `AV.Object` until a save operation has completed.

If you are trying to access any fields or properties that don't exist, the SDK won't error out but return **null** instead.

Sometimes you may want to get all the fields back (as in a data binding scenario) but just aren't interested in using `get` explicitly on every field. If your SDK is 3.0.0+, you can leverage an instance method `toJSON` of `AV.Object` to get a plain JSON object containing all the fields.

```js
var query = new AV.Query('Todo');
query.get('558e20cbe4b060308e3eb36c').then(function (todo) {
  console.log(todo.toJSON())
  // ==== results in console ====
  
  // title:      "R&D Weekly Meeting"
  // content:    "All team members, Tues 2pm"
  // location:   "Meeting Room B"
  // importance: "high"
  // objectId:   "558e20cbe4b060308e3eb36c"
  // createdAt:  "2017-03-08T11:25:07.804Z"
  // updatedAt:  "2017-03-08T11:25:07.804Z"
  // ...

}).catch(error) {
  console.error(error);
});
```
#### Refreshing Objects

If you need to refresh an object you already have with the latest data that is in the cloud, you can call the `fetch` method like so:

```js
var todo = AV.Object.createWithoutData(
  // ClassName
  'Todo',
  // objectId
  '5745557f71cfe40068c6abe0'
);

todo.fetch().then(function (todo) {
  // // The object was refreshed successfully
}, function (error) {
  // an error occurred
});
```

Remember, *any unsaved changes made to the object prior to using `fetch` will not survive*. If this is not what you want, you have the option to provide a list of **keys** to the `fetch` method so that only named fields are retrieved and refreshed (and also special built-in fields such as objectId, createdAt, and updatedAt), while changes made on other fields will remain intact.

```js
todo.fetch({
  keys: 'importance,location'
}).then(function (todo) {
  // only importance and location will be retrieved and refreshed
}, function (error) {

});
```

{# After the object is refreshed successfully, its `updatedAt` value will be updated on the client. The cloud won't have this new value until the next save or fetch happens, thus some network bandwidth can be saved out of it. #}

{# With that in mind, let's make it more fun.  Let's build a new `AV.Object` locally from scratch with an objectId, and retrieve more field values associated with this object from the cloud without using `AV.Query`.  #}

### Updating Objects

Updating an object is simple. Just set some new data on it and call the `save` method. For example:

```js
// suppose objectId is known, then create an object out of it
var todo = AV.Object.createWithoutData(
  // ClassName
  'Todo',
  // objectId
  '5745557f71cfe40068c6abe0');

todo.set('content', 'Weekly meeting has been rescheduled to Wed 3pm for this week.');
todo.save();
```

LeanCloud automatically figures out which data has changed so only "dirty" fields will be sent to the cloud. You don't need to worry about squashing data that you didn't intend to update.

If you prefer using [CQL](cql-guide.html) to update data, here's how it's done:

```js
AV.Query.doCloudQuery('update Todo set content="Weekly meeting has been rescheduled to Wed 3pm for this week." where objectId="5745557f71cfe40068c6abe0"')
.then(function (data) {
  var results = data.results;
}, function (error) {
  console.error(error);
});
```

#### Conditionally Updating Data

By using `query` option of the `save` method, you can put conditions on the save operation so that the object can be updated atomically only when those conditions are met. Otherwise, the cloud will return error code **305** to indicate that there was no update taking place.

<a id="saveoption-query-example" /></a>For example, in the Class "Account" there is a field called **balance**, and there are multiple incoming requests that will modify the balance. An account cannot have negative balance, so we can only allow a request to update the balance when the amount requested is lower than or equal to the balance.

```js
var Account = AV.Object.extend('Account');
// get the first record from Account,
// just for demonstration convenience
new AV.Query(Account).first().then(function(account) {
  var amount = -100;
  // atomically decrease balance by 100
  account.increment('balance', amount);
  return account.save(null, {
    // add the condition 
    query: new AV.Query(Account).greaterThanOrEqualTo('balance', -amount),
    fetchWhenSave: true,
  });
}).then(function(account) {
  // the object was updated successfully
  // return current balance
  console.log('Balance: ', account.get('balance'));
}).catch(function(error) {
  if (error.code === 305) {
  console.log('Insufficient balance! Update failed.');
  }
});
```

*`query` option only works on existing objects.* In other words, it has no effect on objects that haven't been saved in the cloud yet.

Of course you may be wondering about the benefit of using `query` option whereas you can use `AV.Query` and `AV.Object` respectively to achieve the same goal. Sure, that would work to some extent but it's cumbersome and can lead to problems if you have multiple clients trying to update the same value. 

The above example contains another option you can use with the `save` method: `fetchWhenSave`. When set to true, the save operation will automatically return the latest data that is in the cloud upon completion. All the fields will be returned if the object is new, or only "dirty" fields returned if it's not. Please look at [Counters](#counters) for more use cases.

#### Counters

Let's take Twitter for example. We need to count how many likes and followers a tweet has got up to this minute. While a Like or Follow action can be triggered simultaneously by multiple clients, using the above approach can lead to inaccurate results. To help with storing counter-type data, LeanCloud provides methods that atomically increment (or decrement) any number field.

```js
var post = AV.Object.createWithoutData('Post', '57328ca079bc44005c2472d0');
post.set('views', 0);
post.save().then(function (todo) {
  post.increment('views');
  post.fetchWhenSave(true);
  return post.save();
}).then(function (post) {
  // fetchWhenSave is enabled, so the latest value of 'views' will be returned 
}, function (error) {

});
```

You can also increment by any amount by passing in a second argument to `increment`. When no amount is specified, 1 is used by default.

#### Arrays

To help with storing array data, there are three operations that can be used to atomically change an array associated with a given key:

- `add('arrayKey', value)` <br/>append the given object to the end of an array field.
- `addUnique('arrayKey', value)` <br/>add the given object only if it isn't already contained in an array field. The position of the insert is not guaranteed.
- `remove('arrayKey', value)`<br/> remove all instances of the given object from an array field.

For example, Todo has a field called **alarms** for keeping track of times at which a user wants to be alerted about the todo item. You can add items to the alarms field like so:

```js
var alarm1 = new Date('2018-04-30T07:10:00');
var alarm2 = new Date('2018-04-30T07:20:00');
var alarm3 = new Date('2018-04-30T07:30:00');
var alarms = [alarm1, alarm2, alarm3];

var todo = new AV.Object('Todo');

todo.addUnique('alarms', alarms);

todo.save().then(function (todo) {
  console.log(todo.id);
}, function (error) {
  console.error(error);
});
```

{# Note that it is not currently possible to atomically add and remove items from an array in the same save. You will have to call `save` in between every different kind of array operation. #}

### Destroying Objects

To delete a "completed" Todo object from the cloud:

```js
var todo = AV.Object.createWithoutData('Todo', '57328ca079bc44005c2472d0');
todo.destroy().then(function (success) {
  // the object is successfully deleted
}, function (error) {
  // error
});
```

Or use [CQL](cql-guide.html): 

```js
AV.Query.doCloudQuery('delete from Todo where objectId="558e20cbe4b060308e3eb36c"').then(function () {
  // the object is successfully deleted
}, function (error) {
  // error
});
```

You can delete a single field from an object with the `unset` method:

```js
var todo = AV.Object.createWithoutData('Todo', '57328ca079bc44005c2472d0');
// After this, the content field will be empty
todo.unset('content');
// Saves the field deletion to the Cloud.
// If the object's field is an array, call save() after every unset() operation.
todo.save();
```

{# Please note that use of `object.set(null)` to remove a field from an object is not recommended and will result in unexpected functionality. #}

{% call docs.alertWrap() %}
Removing data from the cloud should always be dealt with great caution as it may lead to non-recoverable data loss. We strongly advise you read [security oriented articles](#security-articles) to fully understand the risks. You should also consider implementing  Class-level, Object-level and Field-level permissions for your Classes in the cloud to guard against unauthorized data operations.   
{% endcall %}

### Batch Processing

`AV.Object` provides some convenience methods you can use to synchronously create, save, fetch or delete a collection of objects all at once. They are `saveAll`, `fetchAll` and `destroyAll`.

Let's say you are marking a bunch of todos as  'completed':

```js
var query = new AV.Query('Todo');
query.find().then(function (todos) {
  // get a collection of todos to work on
  todos.forEach(function(todo) {
    // update value
    todo.set('isCompleted', 1);
  });
  // save all at once
  return AV.Object.saveAll(todos);
}).then(function(todos) {
  // 
}, function (error) {
  // 
});
```

`saveAll` and `fetchAll` will send as many requests behind the scene as the number of objects in the collection, while `deleteAll` completes everything in just one network request. {# TODO: Please refer to the [Calculation of API Calls](faq.html#calculation-of-api-calls) for more details. #}

{# {% block code_batch_set_todo_completed %}
{% endblock %} #}

### Relational Data

Objects may have relationships with other objects. For example, in a blogging application, a Post object may have many Comment objects. LeanCloud supports three kinds of relationships, including one-to-one, one-to-many, and many-to-many.

#### One-to-One and One-to-Many Relationships

One-to-one and one-to-many relationships are modeled by saving an `AV.Object` as a value in the other object. For example, each Comment in a blogging app might correspond to one Post.

To create a new Post with a single Comment, you could write:

```js
// declare the types
var Post    = AV.Object.extend('Post');
var Comment = AV.Object.extend('Comment');

// create the post
var post = new Post();
post.set('title', 'I am starving!');
post.set('content', 'hmmm, where should I go for lunch?');

// create the comment
var comment = new Comment();
comment.set('content', 'KFC is the best');

// add the post as a value in the comment
comment.set('parent', post);

// this will save both post and comment
comment.save();
```

Internally, the backend will store the referred-to object with the Pointer type in just one place, to maintain consistency. You can also link objects using just their objectIds like so:

```js
var post = new Post();
post.id = '5aedba542f301e437093bda5';

comment.set('parent', post);
```

By default, when fetching an object, related AV.Objects are not fetched. These objects' values cannot be retrieved until they have been fetched like so:

```js
var commentQuery = new AV.Query('Comment');
commentQuery.first().then(function(comment){
  var parentPost = comment.get('parent');
  parentPost.fetch({
    success: function(post) {
      var title = post.get('title');
    }
  });
})
```

More examples can be found in the [Query](#relational-queries) portion of this guide.

#### Many-to-Many Relationships

Many-to-many relationships are modeled by using Array or Join Table.

Using Array works similar to storing an array of AV.Objects in a key, except that you don't need to fetch all of the related objects at once. With Join Table, you need to create a separate table to house both ends of the relationship.  

A simple rule of thumb for choosing between Array or Join Table is to look at whether either side of the many-to-many relationship could lead to an array with more than 100 or so objects.

If there are less than 100 objects, go with Array. But if you want to attach any metadata to the relationship between two entities or apply some kind of sorting on either side, then, the Join Table will be your best bet.

> Modeling relationships in data is a hard subject, in general. We have written a dedicated article to address [Data Modeling](data-modeling.html) in greater detail, which we recommend you peruse.

## Queries

We've already seen how an `AV.Query` with `get` can retrieve a single `AV.Object` from the cloud. There are many other ways to retrieve data with `AV.Query` - you can retrieve many objects at once, put conditions on the objects you wish to retrieve, and more.

{# Before you continue, familiarize yourself with the models that are used in this guide. #}

### Basic Queries

In many cases, `get` isn't powerful enough to specify which objects you want to retrieve. `AV.Query` offers different ways to retrieve a list of objects rather than just a single object.

The general pattern is to create an  `AV.Object`, put conditions on it, and then retrieve an array of matching AV.Objects using `find`. For example, to retrieve students who share the same last name, use the `equalTo` method to constrain the value for a key.

```js
var Student = AV.Object.extend('Student');
var query = new AV.Query(Student);
query.equalTo('lastname', 'Smith');
query.find().then(function(results) {
  alert('Successfully retrieved ' + results.length + ' records.');
}).catch(function(error) {
  alert('Error: ' + error.code + ' ' + error.message);
});
```

### Query Constraints

There are several ways to put constraints on the objects found by an `AV.Query`. You can filter out objects with a particular key-value pair with `notEqualTo`:

```js
query.notEqualTo('firstname', 'Jack');
```

You can give multiple constraints, and objects will only be in the results if they match all of the constraints. In other words, it's like an **AND** of constraints.

```js
query.equalTo('firstname', 'Jack');
query.greaterThan('age', 18);
```

The code above can be rewritten in [CQL](#queries-using-cql) syntax as below:

```js
var cql = 'select * from Student where firstname = "Jack" and age > 18';
AV.Query.doCloudQuery(cql).then(function (data) {
  var results = data.results;
}, function (error) {
});
```

You can limit the number of results by setting `limit`. By default, results are limited to 100.

```js
query.limit(10); // limit to at most 10 results
```
{% call docs.noteWrap() %}
For performance reasons, the maximum limit allowed is 1,000, meaning LeanCloud would return just 1,000 results even if the limit was set to a value that is over 1,000.
{% endcall %}

If you want exactly one result, a more convenient alternative may be to use `first` rather than the combination of `find` and `limit`.

```js
var query = new AV.Query('Todo');
query.equalTo('importance', 'high');
query.first().then(function (results) {
  // Successfully retrieved the object.
}, function (error) {

});
```

You can skip the first results by setting `skip`:

```js
query.skip(10); // skip the first 10 results
```

When used together with `limit`, you can gradually load data from the cloud to meet your  pagination requirements.

```
var query = new AV.Query('Todo');
var now   = new Date();
query.lessThanOrEqualTo('updatedAt', now);
query.limit(10); // return 10 records
query.skip(20); // skip first 20 records
```

But in reality, the higher the `skip` goes, the slower the query will run. You may consider using `createdAt` or `updatedAt` to set the range boundaries. They are indexed so they are efficient for large datasets. {# , or using the last value returned from an auto-increment field along with `limit` for the purpose of pagination #} 

For sortable types like numbers and strings, you can control the order in which results are returned:

```js
// Sorts the results in ascending order by the createdAt property
query.ascending('createdAt');

// Sorts the results in descending order by the createdAt property
query.descending('createdAt');
```

You can use `addAscending` or `addDescending` to add more fields in the order you want the results to be sorted. 

```js
// sort on importance first, then createdAt
var query = new AV.Query('Todo');
query.addAscending('importance');
query.addDescending('createdAt');
```

For sortable types, you can also use comparisons in queries:

```js
// Restricts to age < 18
query.lessThan('age', 18);

// Restricts to age <= 18
query.lessThanOrEqualTo('age', 18);

// Restricts to age > 18
query.greaterThan('age', 18);

// Restricts to age >= 18
query.greaterThanOrEqualTo('age', 18);
```

If you want to retrieve objects matching any of the values in a list of values, you can use `containedIn`, providing an array of acceptable values. This is often useful to replace multiple queries with a single query. For example, if you want to retrieve todo items of importance high or medium:

```js
// single query
query.containedIn('importance', ['high', 'medium']);
// mission completed :)

// ----------------
// vs. multiple queries
// ----------------
var importanceHigh = new AV.Query('Todo');
importanceHigh.equalTo('importance', 'high');

var importanceMedium = new AV.Query('Todo');
importanceMedium.equalTo('importance', 'medium');

var importanceHighAndMedium = AV.Query.or(importanceHigh, importanceMedium);
importanceHighAndMedium.find().then(function(results){

})
// kind of verbose :(
```

Conversely, if you want to retrieve objects that do not match any of several values you can use `notContainedIn`, providing an array of acceptable values.

If you want to retrieve objects that have a particular key set, you can use `exists`. Or use `doesNotExist` for the opposite.

```js
// Finds objects that have the 'image' set
query.exists('image');

// Finds objects that don't have the 'image' set
query.doesNotExist('image');
```

You can use the `matchesKeyInQuery` method to get objects where a key matches the value of a key in a set of objects resulting from another query. For example, if you have a class named Country containing countries and languages and you store a student's nationality in the Student class, you want to find students who are from English-speaking countries.

country | language
---|---
UK  | English
US | English
China | Chinese

fullname | nationality
---|---
John Doe | US
Tom Sawyer  | UK
Ming Li | China

The query would look like:

```js
var studentQuery = new AV.Query('Student');
var countryQuery = new AV.Query('Country')
// get all English-speaking countries
countryQuery.equalTo('language', 'English')
// match Student's nationality with Country's country
studentQuery.matchesKeyInQuery('nationality', 'country', countryQuery)
studentQuery.find().then(function (results) {
  console.log(results)
  // John Doe & Tom Sawyer are returned
})
```

You can restrict the fields returned by calling `select` with a list of keys. To retrieve todos that contain only the *title* and *importance* fields (and also special built-in fields such as objectId, createdAt, and updatedAt):

```js
var query = new AV.Query('Todo');
query.select(['title', 'importance']);
query.find().then(function(results) {
  // each of results will only have the selected fields available.
});
```

The remaining fields can be fetched later by calling `fetch` on the returned objects:

```js
query.first().then(function(results) {
  // only the selected fields of the object will now be available here.
  return results.fetch();
}).then(function(results) {
  // all fields of the object will now be available here.
});
```

### Queries on String Values

Use `startsWith` to restrict to string values that start with a particular string. Similar to a SQL `LIKE` operator, it is indexed so it is efficient for large datasets.

{# {% block code_query_whereHasPrefix %}{% endblock %} #}
```js
var query = new AV.Query('Todo');
// SQL equivalent: title LIKE 'lunch%' 
query.startsWith('title', 'lunch');
```

Use `contains` to restrict to string values that contain a particular string.

```js
// SQL equivalent: title LIKE '%lunch%'
query.contains('title', 'lunch');
```
Unlike `startsWith`, `contains` can't take advantage of indexes, so it's preferable to avoid using it against a large dataset.

{% call docs.noteWrap() %}
Please note that both `startsWith` and `contains` perform **case-sensitive** matching so the above examples will not match string values that have *"Lunch"* or *"LUNCH"* in them.
{% endcall %}

If you are looking for string values that do not contain a particular string, you may use `matches` with regular expression.

<pre><code class="lang-js">var query = new AV.Query('Todo');
// 'title' not containing the word 'ticket' case-insensitive
var regExp = new RegExp('{{ data.regex(true) | safe }}, 'i');
query.matches('title', regExp);
</code></pre>
{# 2016-12-29 DO NOT USE markdown to rewrite the previous block #}

However, queries that have regular expression constraints are very expensive, especially for classes with over 100,000 records. {# LeanCloud restricts how many such operations can be run on a particular app at any given time. #} It is because such queries can't take advantage of indexes, they end up with a full scan of the whole dataset to find matches. You may take a look at our [In-App Search](#in-app-search) feature, a full-text search solution we provide to improve your app's searching ability and user experience.   

> If you are facing performance issues with queries, please refer to the [Performance](#performance) section in this guide for possible workarounds and best practices.

### Queries on Array Values

For keys with an array type, you can find objects where the key's array value contains 2 by:

```js
query.equalTo('arrayKey', 2);
```

You can also find objects where the key's array value contains each of the elements 2, 3, and 4 with the following:

```js
query.containsAll('arrayKey', [2, 3, 4]);
```

### Relational Queries

There are several ways to issue queries for relational data. If you want to retrieve objects where a field matches a particular `AV.Object`, you can use `equalTo` just like for other data types. For example, if each Comment has a Post object in its *post* field, you can fetch comments for a particular Post:

```js
// Assume AV.Object post was previously created.
var query = new AV.Query('Comment');
query.equalTo('post', post);
query.find({
  success: function(comments) {
    // comments now contains the comments for the post
  }
});
```

If you want to retrieve objects where a field contains an `AV.Object` that matches a different query, you can use `matchesQuery`. In order to find comments for posts containing images, you can do:

```
var Post    = AV.Object.extend('Post');
var Comment = AV.Object.extend('Comment');

var innerQuery = new AV.Query(Post);
innerQuery.exists('image');

var query = new AV.Query(Comment);
query.matchesQuery('post', innerQuery);
query.find({
  success: function(comments) {
    // comments now contains the comments for posts with images.
  }
});
```

{# {% call docs.noteWrap() %} #}

{# method | SQL equivalent
---|---
A.`matchesQuery`(KEY, B) | `A inner join B ON A.KEY.objectId = B.objectId`
A.`matchesKeyInQuery`(KEY1, KEY2, B) | `A inner join B ON A.KEY1 = B.KEY2` #}


**Caveats about inner query:** 

Please take note the inner query is treated as a normal query, so the default limit of 100 and the maximum limit of 1,000 still apply. Plus the outer query will return nothing if the inner query returns no matches, resembling the behavior of SQL's INNER JOIN. Thus, there's a catch you need to pay attention to. 

Let's say you didn't specify `limit` on your inner query, and the inner query matched 200 records but only returned 100 of them by default to the outer query. Of those 100, none of them are contained in the outer query. So you could end up with nothing when you were supposed to get something.

To avoid such side effect of using inner query, we suggest you take one of the following remedies:

- Apply constraints to the inner query to keep the number of matches below 100. If it is not possible, always specify the `limit 1000` constraint.
- Create redundant fields that were previously used as constraints on the inner query for the objects that the outer query touches, which eliminates the need of using the inner query. 
- Run the query multiple times by using `skip` on the inner query. Technically you can iterate through all the matches the inner query will return. However, as the `skip` value gets bigger, performance issue may arise. Therefore we don't vote for taking this approach.

{# {% endcall %} #}

If you want to retrieve objects where a field contains an `AV.Object` that does not match a different query, you can use `doesNotMatchQuery`.

You can also do relational queries by `objectId`:

```
var post = AV.Object.createWithoutData('Post', '57328ca079bc44005c2472d0');
var query = new AV.Query('Comment')
query.equalTo('post', post);
```

In some situations, you want to return multiple types of related objects in one query. You can do this with the `include` method. For example, let's say you are retrieving the last ten comments, and you want to retrieve their related posts at the same time:

```js
var query = new AV.Query('Comment');

// retrieve the most recent ones
query.descending('createdAt');

// only retrieve the last ten
query.limit(10);

// include the post data with each comment
query.include('post');

query.find({
  success: function(comments) {
    // comments now contains the last ten comments, and the "post" field
    // has been populated. For example:
    for (var i = 0; i < comments.length; i++) {
      // This does not require a network access.
      var post = comments[i].get('post');
    }
  }
});
```

You can also do multi level includes using dot notation. If you wanted to include the post for a comment and the post's author as well you can do:

```
query.include(["post.author"]);
```

You can issue a query with multiple fields included by calling `include` multiple times. This functionality also works with `AV.Query` helpers like `first` and `get`.

{{ docs.note("However, multi level includes won't work with any field that stores **an Array of AV.Objects**. In that case, only the parent level is permitted.") }}

You can also use dot notation with the `select` method to limit the fields returned from the related objects:

```js
query.select(['post.author.firstname']);
```

### Counting Objects

If you just need to count how many objects match a query, but you do not need to retrieve all the objects that match, you can use `count` instead of `find`. For example, to count how many todos have been completed:

```js
var query = new AV.Query('Todo');
query.equalTo('isCompleted', 1);
query.count().then(function (count) {
  console.log(count);
}, function (error) {
});
```

### Compound Queries

For more complex queries you might need compound queries. A compound query is a logical combination (e. g. "AND" or "OR") of subqueries.

{% call docs.noteWrap() %}
Note that we do not support GeoPoint or non-filtering constraints (e.g. `near`, `withinGeoBox`, `limit`, `skip`, `ascending`, `descending`, `include`) in the subqueries of the compound query.
{% endcall %}

#### OR-ed Query Constraints

If you want to find objects that match one of several queries, you can use `AV.Query.or` method to construct a query that is an OR of the queries passed in. For instance if you want to find todos either created today or completed today, you can do:

```js
var today = new Date('2018-04-30')
var tomorrow = new Date('2018-05-01')

var createdTodayQuery = new AV.Query('Todo');
createdTodayQuery.greaterThanOrEqualTo('createdAt', today);
createdTodayQuery.lessThan('createdAt', tomorrow);

var completedTodayQuery = new AV.Query('Todo');
completedTodayQuery.equalTo('isCompleted', 1);
completedTodayQuery.greaterThanOrEqualTo('updatedAt', today);
completedTodayQuery.lessThan('updatedAt', tomorrow);

var query = AV.Query.or(createdTodayQuery, completedTodayQuery)
query.find().then(function (results) {
  console.log(results)
});
```

Please note that no geo-queries are allowed inside compound OR queries.

#### AND-ed Query Constraints

If you want to find objects that match all conditions, you normally would use just one query. You can add additional constraints to the newly created `AV.Query` that act as an AND operator.

```js
// get all todos created in April and also completed
var query = new AV.Query('Todo');
query.greaterThanOrEqualTo('createdAt', new Date('2018-04-01'));
query.lessThan('createdAt', new Date('2018-05-01'));
query.equalTo('isCompleted', 1)
query.find().then(function(results){
  // get results
})
```
Sometimes the world is more complex than this simple example and you may need a compound query of subqueries. You can use `AV.Query.and` method to construct a query that is an AND of the queries passed in. For instance if you want to find todos created today that either have no location set or are of importance low, you can do:

```js
var createdTodayQuery = new AV.Query('Todo');
createdTodayQuery.greaterThanOrEqualTo('createdAt', new Date('2018-04-01'));
createdTodayQuery.lessThan('createdAt', new Date('2018-05-01'));

var noLocationQuery = new AV.Query('Todo');
noLocationQuery.doesNotExist('location')

var importanceLowQuery = new AV.Query('Todo');
importanceLowQuery.equalTo('importance', 'low');

var query = AV.Query.and(
  createdTodayQuery,
  AV.Query.or(
    noLocationQuery,
    importanceLowQuery
  )
)
query.find().then(function(results){
  // get results
})
```

{# 
### Aggregate
### Distinct
#}

{% block text_query_cache_intro %}
### 缓存查询
缓存一些查询的结果到磁盘上，这可以让你在离线的时候，或者应用刚启动，网络请求还没有足够时间完成的时候可以展现一些数据给用户。当缓存占用了太多空间的时候，Cloud storage 会自动清空缓存。

默认情况下的查询不会使用缓存，除非你调用接口明确设置启用。例如，尝试从网络请求，如果网络不可用则从缓存数据中获取，可以这样设置：

{% block code_set_cache_policy %}{% endblock %}

#### 缓存策略
为了满足多变的需求，SDK 默认提供了以下几种缓存策略：

{% block table_cache_policy %}{% endblock %}

#### 缓存相关的操作
{% block code_cache_operation %}{% endblock %}

{% endblock %}

### Performance

影响查询性能的因素很多。特别是当查询结果的数量超过 10 万，查询性能可能会显著下降或出现瓶颈。以下列举一些容易降低性能的查询方式，开发者可以据此进行有针对性的调整和优化，或尽量避免使用。

- 不等于和不包含查询（无法使用索引）
- 通配符在前面的字符串查询（无法使用索引）
- 有条件的 count（需要扫描所有数据）
- skip 跳过较多的行数（相当于需要先查出被跳过的那些行）
- 无索引的排序（另外除非复合索引同时覆盖了查询和排序，否则只有其中一个能使用索引）
- 无索引的查询（另外除非复合索引同时覆盖了所有条件，否则未覆盖到的条件无法使用索引，如果未覆盖的条件区分度较低将会扫描较多的数据）

## GeoPoints

LeanCloud allows you to associate real-world latitude and longitude coordinates with an object. Adding an `AV.GeoPoint` to an `AV.Object` allows queries to take into account the proximity of an object to a reference point. This allows you to easily do things like find out what user is closest to another user or which places are closest to a user.

To associate a point with an object you first need to create an `AV.GeoPoint`. For example, to create a point with latitude of 39.9 degrees and 116.4 degrees longitude:

{# {% block code_create_geoPoint %}{% endblock %} #}
``` js
var point = new AV.GeoPoint(
  // latitude
  39.9,
  // longitude
  116.4
);

// or provide an array of latitude and longitude
var point2 = new AV.GeoPoint([39.9, 116.4]);
```

This point is then stored in the object as a regular field.

{# {% block code_use_geoPoint %}{% endblock %} #}
```js
todo.set('location', point);
```

### Geo Queries

Now that you have a bunch of objects with spatial coordinates, it would be nice to find out which objects are closest to a point, or are contained within a particular area. There are a few handy methods available to help you sort out the distance calculation.

This can be done by adding another restriction to `AV.Query` using `near`. Getting a list of ten places that are closest to a given point may look something like:

```js
// Create a query for Todo
var query = new AV.Query('Todo');
var point = new AV.GeoPoint(39.9, 116.4);
query.near('location', point);
// Limit what could be a lot of points.
query.limit(10);
// Final list of objects
query.find().then(function (results) {
    var nearbyTodos = results;
}, function (error) {
});
```

At this point `results` will be an array of objects ordered by distance (nearest to farthest) from `point`. Note that if an additional `ascending()` or `descending()` order-by constraint is applied, it will take precedence over the distance ordering.

{# {% block code_query_geoPoint_within %}{% endblock %} #}

To limit the results using distance, check out  `withinMiles`, `withinKilometers`, and `withinRadians` in our API docs.

It's also possible to query for the set of objects that are contained within a particular area. To find the objects in a rectangular bounding box, add the `withinGeoBox` restriction to your `AV.Query`.

<img width="300" height="200" src="images/geopoint-withingeobox.svg" />

```js
var query = new AV.Query('Todo');
var southwest = new AV.GeoPoint(30, 115);
var northeast = new AV.GeoPoint(40, 118);
query.withinGeoBox(
  'location',
  southwest,
  northeast
);
```
{# withinPolygon is not supported #}

### Caveats

There are a couple of things to watch out for:

- Each `AV.Object` may only have one key with an `AV.GeoPoint` object.
- Points should not exceed the extreme ends of the ranges. Latitude should be between -90.0 and 90.0. Longitude should be between -180.0 and 180.0. Attempting to set latitude or longitude out of bounds will cause an error.
{# - Using the `near` constraint will also limit results to within 100 miles. #}

{% block module_file %}
## Files

`AV.File` lets you store application files in the cloud that would otherwise be too large or cumbersome to fit into a regular `AV.Object`. The most common use case is storing images, but you can also use it for documents, videos, music, and any other binary data.

### Creating an AV.File

There are a couple of ways to create a file. The first is with a base64-encoded String.

```js
var base64Data = '6K+077yM5L2g5Li65LuA5LmI6KaB56C06Kej5oiR77yf';
var file = new AV.File('resume.txt', {
  base64: base64Data
});
```

Alternatively, you can create a file from an array of byte values:

```js
var bytes = [0x6f, 0x2c, 0x20, 0x77];
var file = new AV.File('file.txt', bytes);
```

It is also possible to create a file from a URL:

```js
var file = AV.File.withURL(
  'avatar.jpg',
  'http://ww3.sinaimg.cn/bmiddle/596b0666gw1ed70eavm5tg20bq06m7wi.jpg'
);
```

With the `withURL` method, the SDK will not retrieve the file data from the URL but simply save the URL string to the cloud. So there won't be any upload traffic going on as opposed to a file being created otherwise, a copy of which will actually be kept in the cloud.

LeanCloud will auto-detect the type of file you are uploading based on the file extension, but you can specify the **Content-Type** (commonly referred to as MIME type) with a third parameter:

```js
var file = new AV.File(
  'newFile.zzz', 
  fileData,
  // Content-Type
  'image/png'
);
```

But most commonly for HTML5 apps, you'll want to use an HTML form with a file upload control. Create a file `input` tag which allows the user to pick a file from their local drive to upload:

```html
<input type="file" id="photoFileUpload" />
```

Then, in a click handler or other function, get a reference to that file:

```js
var fileUploadControl = $('#photoFileUpload')[0];
if (fileUploadControl.files.length > 0) {
  var localFile = fileUploadControl.files[0];
  var fileName = 'avatar.jpg';

  var file = new AV.File(
    fileName,
    localFile
  );
}
```

Notice in this example that we give the file a name of *avatar.jpg*. There are a couple of things to note here:

- You don't need to worry about filename collisions. Each upload gets a unique identifier so there's no problem with uploading multiple files named *avatar.jpg*.
- It's important that you give a name to the file that has a file extension. This lets LeanCloud figure out the file type and handle it accordingly. So, if you're storing PNG images, make sure your filename ends with *.png*.
- If the file doesn't have a file extension and  no ContentType parameter is specified either, LeanCloud defaults to the type *application/octet-stream*.

### Saving an AV.File

Next you'll want to save the file up to the cloud. This can be done with the help of the `save` method. The SDK will upload the file to the cloud and return a dedicated URL for it.

```js
file.save().then(function(file) {
  // The file has been saved to LeanCloud.
  console.log(file);
  // mime_type: "application/octet-stream"
  // objectId:  "5aed9c7b7f6fd300387b480d"
  // url:       "https://lc-tvO56WBF.cn-n1.lcfile.com/edfc48a5bd44ba441f9e"
  // ... 
  var originalFileName = file.get('name');
}, function(error) {
  // The file either could not be read, or could not be saved to LeanCloud.
});
```
{% call docs.noteWrap() %}
When a file is successfully saved to the cloud, it can be found in the `_File` class, but cannot be modified thereafter by any means. If something about it must be changed, you need to upload the file again with correct data, and use the new id and the new URL returned to reference it.
{% endcall %}


Finally, after the save completes, you can associate an `AV.File` with an `AV.Object` just like any other piece of data:

```js
var file = AV.File.withURL(
  'cake-a.jpg',
  'http://www.bakery.com/cake-a.jpg'
);
file.save().then(function(file){
  var Todo = AV.Object.extend('Todo');
  var todo = new Todo();
  todo.set('title', 'get cakes');
  // attachments is an Array field
  todo.add('attachments', file);
  todo.save();
})
```
{# 2017-11-09 doesn't apply to swift, php, python #}
{% if segment_code === 'objc' or segment_code === 'java' or segment_code === 'js' or segment_code === 'android' %}

On a related note, if the files are stored as an array of objects and you want to get them in one query, you need to use the `include` method with `AV.Query`. For example, let's say you are retrieving all the todos with the same title "get cakes", and you want to retrieve their related attachments at the same time:

```js
var query = new AV.Query('Todo');
// get all todos with the same title
query.equalTo('title', 'get cakes');
query.exists('attachments');
// include attachments data with each todo
query.include('attachments');

query.find().then(function (todos) {
  todos.forEach(function (todo) {
    // get attachments array for each todo
    var attachments = todo.get('attachments');
    attachments.forEach(function (attachment) {
      // each attachment is an AV.File instance
      if (attachment) {
        console.log('attachment.url', attachment.get('url'));
      }
    })
  })
});
```
{% endif %}

### Upload Progress

While uploading, you can leverage the `onprogress` hook on the `save` method to do whatever you want with the upload progress event:

```js
file.save({
  onprogress: function (event)  {
    console.log(event)
    // {
    //   loaded:  1234,
    //   total:   2468,
    //   percent: 50
    // }
  }
}).then(/* ... */);

// Prior to SDK 2.0, the second parameter
// of the save method cannot be omitted
file.save({
  onprogress: function(event) { 
    console.log(event);
  }
}, {}).then(/* ... */);
```

### File Metadata

When uploading a file, you can specify or retrieve metadata for that file using the `metaData` method. This metadata can contain additional properties you want to put on the file. However, once the upload completes, you cannot update the file any more including its metadata content.

```js
// set metadata
file.metaData('author', 'LeanCloud');

file.save().then(function(file){
  // get all metadata 
  var metadata = file.metaData();
  // size won't be available for files created from base64 data or from urls
  var size     = file.size();
  var fileName = file.get('name');
  // get author
  var author   = file.metaData('author');
})
```

{% block text_download_file_with_progress %}
### Retrieving File Contents/Download

How to best retrieve the file contents back depends on the context of your application. Because of cross-domain request issues, it's best if you can make the browser do the work for you. Typically, that means rendering the file's URL into the DOM. Here we render an uploaded profile photo on a page with jQuery:

客户端 SDK 接口可以下载文件并把它缓存起来，只要文件的 URL 不变，那么一次下载成功之后，就不会再重复下载，目的是为了减少客户端的流量。

{% block code_download_file %}{% endblock %}
{% block text_download_progress %}请注意代码中**下载进度**数据的读取。{% endblock %}

{% endblock %}

### Image Thumbnail

You can get the thumbnail of an image file stored in the cloud using the `thumbnailURL` method.

```js
// get thumbnail of 100px by 200px (width by height)
var url = file.thumbnailURL(100, 200);
```

Thumbnail cannot be generated for files exceeding **20 MB** in size. In addition, this feature is only available for apps created in the **North China** region for the time being.

### Deleting an AV.File

By default, you are not allowed to delete a file from the class `_File`. You need to turn on the *delete* permission in your app's [Dashboard > Data > `_File`](/data.html?appid={{appid}}#/_File) page, then you can use `destroy` method to remove a file from the cloud for good.

```js
// given that file's objectId is known
var file = AV.File.createWithoutData('552e0a27e4b0643b709e891e');
file.destroy().then(function (success) {
  // destroyed
}, function (error) {
});
```

### CDN Support

{{ data.cdn() }}


{% block code_cache_operations_file %}{% endblock %}

{% block text_https_access_for_ios9 %}{% endblock %}

{% endblock %}

{% block text_js_promise %}{% endblock %}

## Users

At the core of many apps, there is a notion of user accounts that lets users access their information in a secure manner. We provide a specialized user class called `AV.User` that automatically handles much of the functionality required for user account management.

With this class, you'll be able to add user account functionality in your app.

`AV.User` is a subclass of `AV.Object`, therefore, all the methods that are on `AV.Object` also exist in `AV.User`. The difference is that `AV.User` has some special additions specific to user accounts.

### AV.User Properties

`AV.User` has several values that set it apart from `AV.Object`:

- **username**: The username for the user (required).
- **password**: The password for the user (required on signup).
- **email**: The email address for the user (optional).
- **mobilePhoneNumber**: The mobile/cell phone number for the user (optional).
{# - **mobilePhoneVerfied**: 
- **emailVerfied**: #}

We'll go through each of these in detail as we run through the various use cases for users.

### Signing Up

The first thing your app will do is probably ask the user to sign up. The following code illustrates a typical sign up with username and password:

```js
// create an instance
var user = new AV.User();

user.setUsername('leancloud');
// same as using user.set('username', 'leancloud')
user.setPassword('P@ssword!');

// optional
user.setEmail('hello@leancloud.rocks');
user.setMobilePhoneNumber('+123456789');

// other fields can be set just like with AV.Object
user.set('birthday', new Date('2014-06-01'));
user.set('gender', 'secret')

user.signUp().then(function (user) {
    console.log(user);
    var sessionToken = user.get('sessionToken')
}, function (error) {
  // check errors 
});
```

{% block text_send_sms_code_for_loginOrSignup %}

This call will asynchronously create a new user in the `_User` class in your LeanCloud app. Before it does this, it also checks to make sure that both the username and email (and the phone number if present) are unique. Also, it securely hashes the password in the cloud in a way that even [Rainbow Table](https://en.wikipedia.org/wiki/Rainbow_table) attack won't crack. We never store passwords in plaintext, nor will we ever transmit passwords back to the client in plaintext.

Please take care **not to hash the password on the client** before sending it to the cloud. Doing so will cause the [password resetting functionality](#resetting-passwords) to fail.

Note that we used the `signUp` method, not the `save` method. New AV.Users should always be created using the `signUp` method. Subsequent updates to a user can be done by calling `save`.

If a signup isn't successful, you should read the error object that is returned. The most likely case is that the username (or email or mobile phone number) has already been taken by another user. You should clearly communicate this to your users, and ask them try a different username.

You are free to use an email address as the username. Simply ask your users to enter their email, but fill it in the *username* property, and `AV.User` will work as normal. It saves the trouble to ask for the email address when the user wants to reset a password via email later. We'll go over how this is handled in the [reset password](#resetting-passwords) section.

#### Signing Up with Phones

Allowing users to sign up with their phones is an easy and secure alternative to using their usernames and passwords.

There are two steps to be involved in general. First, ask the user to enter a phone number that can receive text messages. There should be a "Get Verification Code" button close by. So when it's clicked, you should call the `AV.Cloud.requestSmsCode` function to have the 6-digit code sent to the phone number the user just entered.

```js
AV.Cloud.requestSmsCode(
  'MOBILE_PHONE_NUMBER'
).then(function (success) {
  // verification code is obtained successfully
}, function (error) {
  // something went wrong 
});
```

After the verification code is obtained, pass it on to the `signUpOrlogInWithMobilePhone` method to complete the signup process.

```js
AV.User.signUpOrlogInWithMobilePhone(
  'MOBILE_PHONE_NUMBER', 
  'VERIFICATION_CODE'
).then(function (user) {
  // username and mobilePhoneNumber are the same
  var username          = user.get('username')
  var mobilePhoneNumber = user.get('mobilePhoneNumber')
  var sessionToken      = user.get('sessionToken')
  // password: temporary password generated by LeanCloud 
}, function (error) {
  // verification code is incorrect
});
```
#### Phone Number Format

The phone number that `AV.User` accepts take the following format: *the country code followed by the phone number, and all preceded by a plus sign*.

Besides, you should leave out all the dashes and other non-numeric characters. For instance, `+8618200008888` for China (86 is the country code), and `+15555551234` for US and Canada (1 is the country code, and 555 is the area code).

For a list of countries and regions that LeanCloud can reach through phones, please refer to the [International SMS](sms-guide.html#international-sms) section in the SMS guide.

### Logging In

Of course, after you allow users to sign up, you need to let them log in to their account in the future. To do this, you can use the class method `logIn`.

```js
AV.User.logIn(
  'USERNAME',
  'PASSWORD'
).then(function (loggedInUser) {
  // login succeeded
  console.log(loggedInUser);
}, function (error) {
  // login failed, check error to see why.
});
```
If you allow users to use their phone numbers for the signup,  now you can let them log in with either a password or a verification code that will be sent to their phone numbers through text message.

Let's look at the password approach first.

```js
AV.User.logInWithMobilePhone(
  'MOBILE_PHONE_NUMBER', 
  'PASSWORD'
).then(function (loggedInUser) {
  console.log(loggedInUser);
}, function (error) {
  // cannot log the user in
});
```

By the default settings of your app, LeanCloud will let the user log in to his or her account as long as the phone number and the password are correct even when the ownership of the phone hasn't been verified. But if you are trying to make your app more secure, you definitely can let users in only when their phones have been verified. The setting that changes such behavior can be found in your app's [Data Settings](/dashboard/storage.html?appid={{appid}}#/storage/conf) page.

Sometimes users may forget their passwords. Rather than making them go through a few steps to reset the password, you can offer a simpler alternative by allowing them to use the verification code that will be sent to their phones to get in. Here is how: Create a link or button that says "Use phone verification code to log in" or something to that effect, and put it just below the password field in your app. It will trigger the `requestLoginSmsCode` method to send the verification code to the target phone when being clicked.    

```js
AV.User.requestLoginSmsCode(
  'MOBILE_PHONE_NUMBER'
).then(function () {
  // you can display a message to tell the user that 
  // the verification code is sent
}, function (error) {
  // check errors
});
```
When the user enters the verification code, call the `logInWithMobilePhoneSmsCode` method to proceed:

```js
AV.User.logInWithMobilePhoneSmsCode(
  'MOBILE_PHONE_NUMBER', 
  'VERIFICATION_CODE'
).then(function (user) {
}, function (error) {
});
```

#### Test Phone Numbers 



{{ sms.fixedVerificationCode("####") }}

#### Single Device Sign-on

In some scenarios where you want to enhance your app's security by disallowing a user to log in to at the same time. disallowing a userlogin when another log

如果想实现在当前设备 A 上登录后，强制令之前在其他设备上的登录失效，可以按照以下方案来实现：

1. 建立一个设备表，记录用户登录信息和当前设备的信息。
2. 设备 A 登录成功后，更新设备表，将当前设备标记为当前用户登录的最新设备。
3. 设备 B 中的应用启动时，检查设备表，发现最新设备不是当前设备，调用 AV.User 的 `logout` 方法退出登录。


### Verifying Emails

Enabling email verification in an app's settings allows the application to reserve part of its experience for users with confirmed email addresses. When a user's email is set or modified, `emailVerified` is set to false in the cloud. LeanCloud then emails the user a link which will set `emailVerified` to true.

There are three emailVerified states to consider:

- **true**: the user confirmed his or her email address by clicking on the link LeanCloud emailed them. AV.Users can never have a "true" value when the user account is first created.
- **false**: the `AV.User` was created when email verification was off per the app's settings or the `AV.User` does not have an email. Or at the time the `AV.User` object was last refreshed, the user had not confirmed his or her email address. If `emailVerified` is false on the client, consider calling `fetch` on the `AV.User`. 

### Verifying Phone Numbers

Phone number verification works very similar to how the email verification is handled, 

许多应用会通过验证邮箱来确认用户注册的真实性。如果在 {{app_permission_link}} 中勾选了 **用户注册时，发送验证邮件**，那么当一个 `AV.User` 在注册时设置了邮箱，云端就会向该邮箱自动发送一封包含了激活链接的验证邮件，用户打开该邮件并点击激活链接后便视为通过了验证。

有些用户可能在注册之后并没有点击激活链接，而在未来某一个时间又有验证邮箱的需求，这时需要调用如下接口让云端重新发送验证邮件：

{% block code_send_verify_email %}{% endblock %}

当用户 `AV.User` 通过 `setEmail()` 更新成一个新邮箱并成功 save 后，云端会自动向新邮箱发一封验证邮件，因此开发者**不需要**再单独调用 `requestEmailVerify` 接口来发送验证邮件。

### Current User 

It would be bothersome if the user had to log in every time they open your app. You can avoid this by using the cached current AV.User object.

Please note that this functionality is disabled by default on Node.js environments (such as React Native) to discourage stateful usages on server-side configurations. To bypass this behavior on this particular use case, call once AV.User.enableUnsafeCurrentUser() right before using any cached-user related functionalities.

Whenever you use any signup or login methods, the user is cached in localStorage, or in any storage you configured via the AVsetAsyncStorage method. You can treat this cache as a session, and automatically assume the user is logged in:

打开微博或者微信，它不会每次都要求用户都登录，这是因为它将用户数据缓存在了客户端。
同样，只要是调用了登录相关的接口，LeanCloud SDK 都会自动缓存登录用户的数据。
例如，判断当前用户是否为空，为空就跳转到登录页面让用户登录，如果不为空就跳转到首页：

{% block code_current_user %}{% endblock %}
When using a platform with an async storage system you should call currentAsync() instead.
{% block text_current_user_remains_if_not_being_logged_out %}
如果不调用 [登出](#登出) 方法，当前用户的缓存将永久保存在客户端。
{% endblock %}

You can clear the current user by logging them out:


#### SessionToken

If you've created your own authentication routines, or otherwise logged in a user on the server side, you can now pass the session token to the client and use the become method. This method will ensure the session token is valid before setting the current user.

所有登录接口调用成功之后，云端会返回一个 SessionToken 给客户端，客户端在发送 HTTP 请求的时候，{{sdk_name}} 会在 HTTP 请求的 Header 里面自动添加上当前用户的 SessionToken 作为这次请求发起者 `AV.User` 的身份认证信息。

如果在 {{app_permission_link}} 中勾选了 **密码修改后，强制客户端重新登录**，那么当用户密码再次被修改后，已登录的用户对象就会失效，开发者需要使用更改后的密码重新调用登录接口，使 SessionToken 得到更新，否则后续操作会遇到 [403 (Forbidden)](error_code.html#_403) 的错误。

{% block text_user_isAuthenticated %}
##### 验证 SessionToken 是否在有效期内

{% block code_user_isAuthenticated %}{% endblock %}

{% endblock %}

{% block text_authenticate_via_sessiontoken %}
##### 使用 SessionToken 登录

Handling Invalid Session Token Error
With revocable sessions, your current session token could become invalid if its corresponding Session object is deleted from the LeanCloud Cloud. This could happen if you implement a Session Manager UI that lets users log out of other devices, or if you manually delete the session via Cloud Code, REST API, or Data Browser. Sessions could also be deleted due to automatic expiration (if configured in app settings). When a device's session token no longer corresponds to a Session object on the LeanCloud Cloud, all API requests from that device will fail with "Error 209: invalid session token".

To handle this error, we recommend writing a global utility function that is called by all of your LeanCloud request error callbacks. You can then handle the "invalid session token" error in this global function. You should prompt the user to login again so that they can obtain a new session token. This code could look like this:
在没有用户名密码的情况下，客户端可以使用 SessionToken 来登录。常见的使用场景有：

- 应用内根据以前缓存的 SessionToken 登录
- 应用内的某个页面使用 WebView 方式来登录 LeanCloud 
- 在服务端登录后，返回 SessionToken 给客户端，客户端根据返回的 SessionToken 登录。

{% block code_authenticate_via_sessiontoken %}
```javascript
// 1. getSessionToken()
// 2. become(sessionToken)
// 3. 在成功的回调中更新 currentUser 的信息 become(sessionToken)
```
{% endblock %}

{{ docs.alert("请避免在外部浏览器使用 URL 来传递 SessionToken，以防范信息泄露风险。") }}
{# 参见 [云引擎 · SDK 调用云函数](leanengine_cloudfunction_guide-node.html#) #}
{% endblock %}
Sessions represent an instance of a user logged into a device. Sessions are automatically created when users log in or sign up. They are automatically deleted when users log out. There is one distinct Session object for each user-installation pair; if a user issues a login request from a device they're already logged into, that user's previous Session object for that Installation is automatically deleted. Session objects are stored on LeanCloud in the Session class, and you can view them on the AVcom Data Browser. We provide a set of APIs to manage Session objects in your app.

Session is a subclass of a LeanCloud Object, so you can query, update, and delete sessions in the same way that you manipulate normal objects on AV Because the LeanCloud Cloud automatically creates sessions when you log in or sign up users, you should not manually create Session objects unless you are building a "LeanCloud for IoT" app (e.g. Arduino or Embedded C). Deleting a Session will log the user out of the device that is currently using this session's token.

Unlike other LeanCloud objects, the Session class does not have Cloud Code triggers. So you cannot register a beforeSave or afterSave handler for the Session class.

#### 账户锁定

输入错误的密码或验证码会导致用户登录失败。如果在 15 分钟内，同一个用户登录失败的次数大于 6 次，该用户账户即被云端暂时锁定，此时云端会返回错误码 `{"code":1,"error":"登录失败次数超过限制，请稍候再试，或者通过忘记密码重设密码。"}`，开发者可在客户端进行必要提示。

锁定将在最后一次错误登录的 15 分钟之后由云端自动解除，开发者无法通过 SDK 或 REST API 进行干预。在锁定期间，即使用户输入了正确的验证信息也不允许登录。这个限制在 SDK 和云引擎中都有效。



### Resetting Passwords

It's a fact that as soon as you introduce passwords into a system, users will forget them. In such cases, our library provides a way to let them securely reset their password.

To kick off the password reset flow, ask the user for their email address, and call:
#### 邮箱重置密码

我们都知道，应用一旦加入账户密码系统，那么肯定会有用户忘记密码的情况发生。对于这种情况，我们为用户提供了一种安全重置密码的方法。

重置密码的过程很简单，用户只需要输入注册的电子邮件地址即可：

{% block code_reset_password_by_email %}{% endblock %}

This will attempt to match the given email with the user's email or username field, and will send them a password reset email. By doing this, you can opt to have users use their email as their username, or you can collect it separately and store it in the email field.

The flow for password reset is as follows:

User requests that their password be reset by typing in their email.
LeanCloud sends an email to their address, with a special password reset link.
User clicks on the reset link, and is directed to a special LeanCloud page that will allow them type in a new password.
User types in a new password. Their password has now been reset to a value they specify.
Note that the messaging in this flow will reference your app by the name that you specified when you created this app on AV

密码重置流程如下：

1. 用户输入注册的电子邮件，请求重置密码；
2. Cloud storage 向该邮箱发送一封包含重置密码的特殊链接的电子邮件；
3. 用户点击重置密码链接后，一个特殊的页面会打开，让他们输入新密码；
4. 用户的密码已被重置为新输入的密码。

{{link_to_blog_password_reset}}

{% if node != 'qcloud' and node != 'us' %}
#### 手机号码重置密码

{% if node=='qcloud' %}
<div class="callout callout-danger">注意：TAB 暂时未开放短信功能，所以所有与短信相关的 API 操作暂时不能调用。</div>
{% endif %}

与使用 [邮箱重置密码](#邮箱重置密码) 类似，「手机号码重置密码」使用下面的方法来获取短信验证码：

{% block code_reset_password_by_mobilephoneNumber %}{% endblock %}

注意！用户需要先绑定手机号码，然后使用短信验证码来重置密码：

{% block code_reset_password_by_mobilephoneNumber_verify %}{% endblock %}
{% endif %}
#### 登出

用户登出系统时，SDK 会自动清理缓存信息。

{% block code_current_user_logout %}{% endblock %}

{% endblock %}
### Querying

The AV.User class is secured by default. Data stored in an AV.User can only be modified by that user. By default, the data can still be read by any client. Thus, some AV.User objects are authenticated and can be modified, whereas others are read-only.

Specifically, you are not able to invoke any of the save or delete methods unless the AV.User was obtained using an authenticated method, like logIn or signUp. This ensures that only the user can alter their own data.

The following illustrates this security policy:
为了安全起见，**新创建的应用的 `_User` 表默认关闭了 find 权限**，这样每位用户登录后只能查询到自己在 `_User` 表中的数据，无法查询其他用户的数据。如果需要让其查询其他用户的数据，建议单独创建一张表来保存这类数据，并开放这张表的 find 查询权限。


The AV.User obtained from AV.User.current() will always be authenticated.

If you need to check if an AV.User is authenticated, you can invoke the authenticated method. You do not need to check authenticated with AV.User objects that are obtained via an authenticated method.

设置数据表权限的方法，请参考 [数据与安全 {{middot}} Class 级别的权限](data_security.html#Class_级别的_ACL)。我们推荐开发者在 [云引擎](leanengine_overview.html) 中封装用户查询，只查询特定条件的用户，避免开放 `_User` 表的全部查询权限。

To query for users, you can simple create a new `AV.Query` for AV.Users:

查询用户代码如下：
{% block code_query_user %}{% endblock %}

### 浏览器中查看用户表

用户表是一个特殊的表，专门storage用户对象。在浏览器端，你会看到一个 `_User` 表。

### 匿名用户

使用匿名用户，可以让应用不提供注册步骤也能创建用户：

{% block anonymous_user_login %}{% endblock %}

{% block anonymous_user_save %}
如果有需要，应用还可以让匿名用户完善信息，例如设置用户名、密码和邮箱等：

{% block setup_username_and_password_for_anonymous_user %}{% endblock %}

如果没有完善信息，匿名用户一旦登出，其身份就会永久消失。
{% endblock %}

## Roles

关于用户与角色的关系，我们有一个更为详尽的文档介绍这部分的内容，并且针对权限管理有深入的讲解，详情请阅读《[ACL 权限管理指南](acl-guide.html)》。

{% block module_in_app_search %}
## In-App Search

应用内搜索是一个针对应用数据进行全局搜索的接口，它基于搜索引擎构建，提供更强大的搜索功能。要深入了解其用法和阅读示例代码，请阅读 {{inapp_search_guide_url}}。
{% endblock %}



{% if node != 'qcloud' %}
{% block module_in_app_social %}
## In-App Socialing
应用内社交，又称「事件流」，在应用开发中出现的场景非常多，包括用户间关注（好友）、朋友圈（时间线）、状态、互动（点赞）、私信等常用功能，请参考 {{status_system_guide_url}}。
{% endblock %}
{% endif %}

{% if node != 'qcloud' %}
{% block text_sns %}
## SNS
社交账号的登录方便了应用开发者在提升用户体验，我们特地开发了一套支持第三方账号登录的组件，请参考 {{sns_guide_url}}。
{% endblock %}
{% endif %}

{% if node != 'qcloud' %}
{% block text_feedback %}
## User Feedback
用户反馈是一个非常轻量的模块，可以用最少两行的代码来实现一个支持文字和图片的用户反馈系统，并且能够方便的在我们的移动 App 中查看用户的反馈，请参考  {{feedback_guide_url}}。
{% endblock %}
{% endif %}

{% block js_push_guide %}{% endblock %}

{% block use_js_in_webview %}{% endblock %}

{% block faq %}{% endblock %}
